@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@layer base {
  @font-face {
    font-family: 'Iosevka';
    font-style: normal;
    font-display: swap;
    src: url("/fonts/IosevkaNerdFontMono-Regular.ttf");
  }
}

@layer base {
  * {
    @apply border-border;
    @apply font-main;
    @apply text-base md:text-xl;
    @apply text-foreground;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-title;
    @apply font-black;
    @apply mt-8 mb-8;
    @apply p-4;
    @apply shadow-2xl;
    @apply border-2 border-accent rounded-2xl;
  }

  h1 {
    @apply text-2xl md:text-4xl;
  }

  h2 {
    @apply text-xl md:text-3xl;
  }

  a {
    @apply text-accent underline;
  }

  p {
    @apply mt-6 mb-6;
  }

  code:not(pre *) {
    @apply p-[4px];
  }

  pre * {
    @apply font-monospace;
  }

  pre, code {
    @apply text-nowrap;
    @apply font-monospace;
    @apply rounded-md;
  }

  code {
    @apply bg-muted;
  }

  pre code {
    @apply bg-background dark:bg-muted;
  }

  pre {
    @apply overflow-auto;
    @apply p-4;
    @apply border-2 border-primary rounded-2xl;
    @apply dark:bg-muted;
  }

  .markdown img {
    @apply max-w-full md:max-w-[70%];
    @apply m-auto rounded-xl;
  }

  .markdown ol {
    @apply list-decimal list-inside;
  }

  .dark .markdown img:not(.universal) {
    @apply invert;
    @apply hue-rotate-90;
  }

}

@layer base {
  .hljs-keyword {
    @apply text-primary;
  }

  .hljs-number {
    @apply text-accent;
  }

  .hljs-built_in {
    @apply text-secondary;
  }

  .hljs-comment {
    @apply text-muted-foreground;
  }
}

@layer base {
  :root {
    --accent: 174 55% 50%;
    --primary: 35 89% 50%;
    --secondary: 357 84% 60%;

    --background: 0 0% 98%;
    --muted: 240 4.8% 85%;

    --border: 240 5.9% 70%;
    --foreground: 0 0% 0%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --muted-foreground: 0 0% 60%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --radius: 0.5rem;
  }
  .dark {
    --accent: 174 41% 64%;
    --primary: 35 89% 67%;
    --secondary: 357 84% 63%;

    --background: 322 10% 33%;
    --muted: 310 11% 22%;

    --border: 310 11% 22%;
    --foreground: 47 25% 95%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --muted-foreground: 322 15% 60%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  :root {
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 0%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --sidebar-background: 310 11% 22%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 47 25% 95%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}
